[user]
    name = Joe Kerenski
    email = JoeKerenski@protonmail.com

[core]
{{- if eq .chezmoi.os "darwin" }}
    editor = /opt/homebrew/bin/nvim
{{- else }}
    editor = /usr/bin/nvim
{{- end }}

[init]
    defaultBranch = master

[pull]
    rebase = false

[push]
    default = simple

[credential]
{{- if eq .chezmoi.os "darwin" }}
    helper = osxkeychain
{{- else }}
    helper = store
{{- end }}
