#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}
# Install your essential tools
brew install neovim zed ghostty gopass age
brew install --cask zen-browser
{{- else if eq .chezmoi.os "linux" }}
# Install via pacman/yay
yay -S --noconfirm neovim zed ghostty gopass age zen-browser-bin
{{- end }}

