#!/bin/sh
set -xe

chmod 700 ~/.ssh
chmod 600 ~/.ssh/config
chmod 600 ~/.ssh/github-kerenski
chmod 600 ~/.ssh/github-personal  
chmod 600 ~/.ssh/github-work
chmod 644 ~/.ssh/*.pub
chmod 644 ~/.ssh/known_hosts

echo "[INFO] SSH permissions set correctly"

