#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}

if ! grep -q "AddKeysToAgent yes" ~/.ssh/config 2>/dev/null; then
    echo "Host *" >> ~/.ssh/config
    echo "    AddKeysToAgent yes" >> ~/.ssh/config
    echo "    UseKeychain yes" >> ~/.ssh/config
fi

ssh-add --apple-use-keychain ~/.ssh/github-personal 2>/dev/null || true
ssh-add --apple-use-keychain ~/.ssh/github-work 2>/dev/null || true
ssh-add --apple-use-keychain ~/.ssh/github-kerenski 2>/dev/null || true
{{- end }}

